services:
  mysql:
    container_name: mysql
    image: mysql:9.4.0
    environment:
      MYSQL_ROOT_PASSWORD: ${MYSQL_ROOT_PASSWORD}
      MYSQL_DATABASE: ${MYSQL_DATABASE}
      MYSQL_USER: ${MYSQL_USER}
      MYSQL_PASSWORD: ${MYSQL_PASSWORD}
    ports:
      - "3306:3306"
    volumes:
      - mysql-data:/var/lib/mysql
    networks:
      - app-network
    restart: unless-stopped

  redis:
    container_name: redis
    image: redis:8.2.2
    environment:
      REDIS_PASSWORD: ${REDIS_PASSWORD:-}
    ports:
      - "6379:6379"
    networks:
      - app-network
    restart: unless-stopped

  mailpit:
    container_name: mailpit
    image: axllent/mailpit:latest
    environment:
      MP_MAX_MESSAGES: 5000
      MP_DATABASE: /data/mailpit.db
      MP_SMTP_AUTH_ACCEPT_ANY: 1
      MP_SMTP_AUTH_ALLOW_INSECURE: 1
    ports:
      - "8025:8025"
      - "1025:1025"
    volumes:
      - mailpit-data:/data
    networks:
      - app-network
    restart: unless-stopped

volumes:
  mysql-data:
    driver: local
  mailpit-data:
    driver: local

networks:
  app-network:
    driver: bridge
